.caixa{
    background-color: #986D8E;
}

.titulo{
    color: white !important;
    font-weight: "bold" !important;
}
.botao{
    border-color: white !important;
    background-color: #662753 !important;
    color: white !important;
}
.postagens{
    background-color: white;
}